<html>

<head>
    <title>Blackboard</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/app.css">
</head>

<body>
    <nav class="navbar bg-light sticky-top">
        <h1>Blackboard</h1>
    </nav>
    <div class="container text-center">
       <hr>
        <a href="#" class="btn btn-primary btn-sm" id="create-btn">Create New List</a>
        <hr>
        <!div class="card">
            <!div class="list-group list-group-flush"><!/div>
        <!/div>
    </div>
    <script src="//cdn.jsdelivr.net/combine/npm/jquery@3.2.1,npm/axios@0.17.0/dist/axios.min.js"></script>
    <script src="/assets/app.js"></script>
</body>
</html>